.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.hero {
    color: #181616;
    padding: 100px 20px;
    text-align: center;
}
.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.cta-btn {
    display: inline-block;
    background-color: #fff;
    color: #111316;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.cta-btn:hover {
    background-color: #585653;
    color: #fff;
}

.coding-websites, .interview-preparation {
    margin-top: 30px;
}
mat-card {
    background-color: #f0f0f0; 
  }
  
.coding-websites h2, .interview-preparation h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.coding-websites ul, .interview-preparation ul {
    list-style-type: none;
    padding: 0;
}

.coding-websites li, .interview-preparation li {
    margin-bottom: 10px;
}

.coding-websites a, .interview-preparation a {
    color: #007bff;
    text-decoration: none;
}

.coding-websites a:hover, .interview-preparation a:hover {
    text-decoration: underline;
}
